extends layout

block index
	- var topPile = pile.shift()
	- var topCard = hand.shift()
	script
		ajax = []
		ajax.push('#{topPile}')
		ajax.push('#{topCard}')
	div#game(data-role="content",data-theme="e")
		.ui-grid-d
			.ui-block-a
			.ui-block-b
			.ui-block-c
				p.opponent Player 3
			.ui-block-d
			.ui-block-e
		.ui-grid-d
			.ui-block-a
			.ui-block-b
				p.opponent Player 2
			.ui-block-c
			.ui-block-d
				p.opponent Player 4
			.ui-block-e
		.ui-grid-d
			.ui-block-a
			.ui-block-b
			.ui-block-c
				.pile
					
					- if (topPile.substring(0,topPile.length - 1) == '11') {
					-	  topPile = 'J' + topPile.substring(topPile.length - 1,topPile.length)
					-	}
					- if (topPile.substring(0,topPile.length - 1) == '12') {
					-	  topPile = 'Q' + topPile.substring(topPile.length - 1,topPile.length)
					-	}
					- if (topPile.substring(0,topPile.length - 1) == '13') {
					-	  topPile = 'K' + topPile.substring(topPile.length - 1,topPile.length)
					-	}
					- if (topPile.substring(0,topPile.length - 1) == '1') {
					-	  topPile = 'A' + topPile.substring(topPile.length - 1,topPile.length)
					-	}
					- //console.log(topPile)
					.pileTop
						case topPile.substring(topPile.length - 1,topPile.length)
							when 'S'
								p #{topPile.substring(0,topPile.length - 1)}&spades;
							when 'H'
								p #{topPile.substring(0,topPile.length - 1)}&hearts;
							when 'C'
								p #{topPile.substring(0,topPile.length - 1)}&clubs;
							when 'D'
								p #{topPile.substring(0,topPile.length - 1)}&diams;
							when 'J'
								p 
									strong J																			
					.pileBottom
						case topPile.substring(topPile.length - 1,topPile.length)
							when 'S'
								p #{topPile.substring(0,topPile.length - 1)}&spades;
							when 'H'
								p #{topPile.substring(0,topPile.length - 1)}&hearts;
							when 'C'
								p #{topPile.substring(0,topPile.length - 1)}&clubs;
							when 'D'
								p #{topPile.substring(0,topPile.length - 1)}&diams;
							when 'J'
								p 
									strong J
			.ui-block-d
			.ui-block-e
		.ui-grid-d
			.ui-block-a
				p.opponent Player 1
			.ui-block-b
			.ui-block-c
			.ui-block-d
			.ui-block-e
				p.opponent Player 5
		.ui-grid-d
			.ui-block-a
			.ui-block-b
			.ui-block-c
				.faceDownCard
			.ui-block-d
			.ui-block-e
	div#container(data-role="content",data-theme="e")
		.ui-grid-a
			.ui-block-a
				h3 HISTORY REPEATS ITSELF
				p Anck-su-namun plays 3 of Hearts.
				p Esmerelda gives you 4 chances...
			.ui-block-b(data-role="content",data-theme="a")
				center
					h2 Best Times
				table
					thead
						tr
							th NAME
							th TIME
					tbody
						tr
							td JIM
							td 1:54
						tr
							td MARK
							td 1:59
						tr
							td SALLY
							td 2:06
		.ui-grid-a
			.ui-block-a
				table
					thead
						tr
							th 
								h2 TIME
							th 
								h2 POINTS
					tbody
						tr
							td 
								h3 2:24
							td 
								h3 94
			.ui-block-b(data-role="content",data-theme="a")
				center
					h2 Most Points
				table
					thead
						tr
							th NAME
							th POINTS
					tbody
						tr
							td JIM
							td 112
						tr
							td SALLY
							td 108
						tr
							td GEORGE
							td 95